{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>|-klu-sdp_12-forget-page-form-|</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/forgetpage.css' %}">
    <link rel="shortcut icon" href="https://www.kluniversity.in/ieee/img/klulogo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <form method="post" action="{% url 'dforgetpassword' %}">
        {% csrf_token %}
        <p align="center" style="color:green">{{msg}} {{password}}</p>
        <p align="center" style="color:red">{{msg1}}</p>
        <center>
            <div class="title">Account Recovery</div>
            <h5>Please enter the email address and phone number of the account you wish to recover. If both are matched then your password will be displayed.</h5>
        </center>
        <div class="input-box underline">
          <input type="text" name="email" placeholder="Enter your Email" required>
          <div class="underline"></div>
        </div>
        <div class="input-box underline">
            <input type="text" name="phno" placeholder="Enter your Phone Number" required>
            <div class="underline"></div>
        </div>
        <div class="input-box button">
          <input type="submit" name="" value="Continue">
        </div>
      </form>
    </div>
  <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"2ef7171a795f1b46161a6ddb33002a7ff","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
  </body>
</html>